{% extends 'base.html' %}
{% block content %}
    <a class="btn btn-default" href="{% url 'create_address' %}" role="button">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>Line 1</th>
                <th>Line 2</th>
                <th>Town</th>
                <th>Post code</th>
                <th>Telephone</th>
                <th>Fax</th>
                <th>Email</th>
                <th>Suppliers</th>
            </tr>
        </thead>

        <tbody>
            {% for address in object_list %}
                <tr>
                    <td>{{ address.line_1 }}</td>
                    <td>{{ address.line_2 }}</td>
                    <td>{{ address.town }}</td>
                    <td>{{ address.post_code }}</td>
                    <td>{{ address.telephone }}</td>    
                    <td>{{ address.fax }}</td>
                    <td>{{ address.email }}</td>
                    <td>{{ address.suppliers.count }}</td>
                    <td><a href="{% url 'update_address' address.id %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <a href="{% url 'delete_address' address.id %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8">No addresses found.</td>
                </tr>
            {% endfor %}
        </tbody>
   </table>

   {% include 'paginator.html' %}
{% endblock %}

