{% extends 'base.html' %}
{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
        Are you sure about deleting {{ object.get_deletion_text }}?<br>
        <button type="submit" class="btn btn-default">Yea, I'm pretty sure!</button>        
    </div>
</form>
{% endblock %}
