{% extends 'base.html' %}
{% block content %}
    <form action="">
        <input type="text" name="filter" placeholder="Name" {% if request.GET.filter %} value="{{ request.GET.filter }}"{% endif %}>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Line 1</th>
                <th>Line 2</th>
                <th>Town</th>
                <th>Post code</th>
                <th>Telephone</th>
                <th>Fax</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for supplier in object_list %}
                <tr>
                    <td rowspan="{{ supplier.addresses.count }}">
                        {{ supplier.name }}
                        <a href="{% url 'update_supplier' supplier.id %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        <a href="{% url 'delete_supplier' supplier.id %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    </td>
                    {% for address in supplier.addresses.all %}
                        <td>{{ address.line_1 }}</td>
                        <td>{{ address.line_2 }}</td>
                        <td>{{ address.town }}</td>
                        <td>{{ address.post_code }}</td>
                        <td>{{ address.telephone }}</td>    
                        <td>{{ address.fax }}</td>
                        <td>{{ address.email }}</td>
                        <td>
                            <a href="{% url 'update_address' address.id %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                            <a href="{% url 'delete_address' address.id %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        </td>

                        {% if not forloop.last %}
                            </tr>
                        {% endif %}
                    {% empty %}
                        <td colspan="8">No addresses in here.</td>
                    {% endfor %}
                <tr>
            {% empty %}
                <tr><td colspan="9">No data found.</td></tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'paginator.html' %}
{% endblock %}
