{% extends 'base.html' %}
{% block content %}
    <a class="btn btn-default" href="{% url 'create_supplier' %}" role="button">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Addresses</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for supplier in object_list %}
                <tr>
                    <td>{{ supplier.name }}</td>
                    <td>{{ supplier.addresses.count }}</td>
                    <td><a href="{% url 'update_supplier' supplier.id %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <a href="{% url 'delete_supplier' supplier.id %}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No suppliers found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'paginator.html' %}
{% endblock %}


